h1 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

.big-spacing {
    height: 40px;
}

h1.eboard-sub-header {
    border-left: 0.65vw solid;
    border-color: rgb(172, 81, 24);
    margin-left: 2.2%;
    padding-left: 10px;
    padding-bottom: 0;
    display: inline;
}

.content {
    height: 120vw;
    margin: auto;
    padding: 20px;
}

.card {
    width: 29%;
    height: 37vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(220, 200, 169);
    margin: 2%;
    float: left;
}

.picture {
    margin: auto;
}

.text-container {
    margin: auto;
    text-align: center;
    min-height: 10%;
}